*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 1% 2%;
}
header{
    width: 100%;
    height: auto;
    text-align: center;
    box-shadow: 2px 0px 20px rgba(68, 0, 255, 0.363);
}
#Logo-Img{
    width: 20%;
}
main{
    text-align: center;
    padding: 10%;
}
#Title{
    font-size: medium;

}